#lostdog {
  border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
  height: 400px;
  padding-bottom: 30px;
}

#welcome-container {
  padding: 30px 0px 30px 0px;
}

#introduction-box {
  width: 400px;
}

.carousel {

  h5 {
    font-size: 55px;
    color: yellow;
    text-shadow: 2px 2px 4px #595959;
  }
  p {
    color: yellow;
    font-size: 35px;
    text-shadow: 2px 2px 4px #595959;
  }

}
